AUTH_SERVICE_URL=http://auth-service:3001
AUTH_SERVICE_FALLBACK_URL=http://host.docker.internal:30111
NEXT_PUBLIC_DOMAIN_NAME=
NEXT_PUBLIC_PORT=30121
NEXT_PUBLIC_SERVER_URL=127.0.0.1
NEXT_PUBLIC_SERVER_PORT=30111
