/* Frame 2087326415 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 8px 8px;
gap: 12px;

position: absolute;
width: 334px;
height: 566px;
right: 12px;
top: 84px;

background: #F6F6F7;
border: 0.5px solid rgba(4, 2, 10, 0.06);
/* Island_Shadow */
box-shadow: 0px 2px 12px rgba(16, 18, 21, 0.08);
border-radius: 28px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Frame 2087326416 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 8px;
gap: 10px;

width: 318px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Очередь */

width: 81px;
height: 24px;

/* Heading/H2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2087326414 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 318px;
height: 506px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Queue/Story Card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 4px;
isolation: isolate;

width: 317px;
height: 58px;

background: #FFFFFF;
opacity: 0.6;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 4252665 */

position: absolute;
width: 2px;
height: 2px;
right: 315px;
bottom: 0px;

background: #1FC133;
border-radius: 1000px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 4252666 */

position: absolute;
width: 2px;
height: 8px;
right: 315px;
bottom: 0px;

background: rgba(82, 227, 100, 0.2);
filter: blur(0px);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326421 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 24px;

width: 293px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 197px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* placeholder-filename.mp4 */

width: 197px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 27.04.2025, 9:41 */

width: 118px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326420 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

display: none;
width: 24px;
height: 44px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

width: 40px;
height: 40px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icons/ Check Circle */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #1FC133;


/* Queue/Story Card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
gap: 4px;
isolation: isolate;

width: 317px;
height: 58px;

background: #FFFFFF;
opacity: 0.6;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 4252665 */

position: absolute;
width: 2px;
height: 2px;
right: 315px;
bottom: 0px;

background: #1FC133;
border-radius: 1000px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 4252666 */

position: absolute;
width: 2px;
height: 8px;
right: 315px;
bottom: 0px;

background: rgba(82, 227, 100, 0.2);
filter: blur(0px);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326421 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 24px;

width: 293px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 197px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* placeholder-filename.mp4 */

width: 197px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 27.04.2025, 9:41 */

width: 118px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326420 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

display: none;
width: 24px;
height: 44px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

width: 40px;
height: 40px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icons/ Check Circle */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #1FC133;


/* Queue/Story Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 12px 24px;
gap: 4px;
isolation: isolate;

width: 318px;
height: 138px;

background: #FFFFFF;
border: 0.5px solid rgba(16, 18, 21, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 4252665 */

position: absolute;
width: 186px;
height: 2px;
right: 131px;
bottom: 0px;

background: #1FC133;
border-radius: 1000px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 4252666 */

position: absolute;
width: 186px;
height: 8px;
right: 131px;
bottom: 0px;

background: rgba(82, 227, 100, 0.2);
filter: blur(0px);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326421 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 24px;

width: 293px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 197px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* placeholder-filename.mp4 */

width: 197px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 27.04.2025, 9:41 */

width: 118px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326420 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

display: none;
width: 24px;
height: 44px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

width: 40px;
height: 40px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icons/ Soundwave */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 13.54%;
right: 13.54%;
top: 13.54%;
bottom: 13.54%;

background: rgba(16, 18, 21, 0.25);


/* Frame 2087326413 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 294px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 3;


/* Внезапно, предприниматели в сети интернет и по сей день остаются уделом либералов, которые неумолимо жаждут жесточайшего */

width: 294px;
height: 60px;

/* Body/Body-2/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Queue/Story Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 12px;
gap: 4px;
isolation: isolate;

width: 318px;
height: 60px;

background: #FFFFFF;
border: 0.5px solid rgba(16, 18, 21, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Rectangle 4252665 */

position: absolute;
width: 2px;
height: 2px;
right: 315px;
bottom: 0px;

background: #1FC133;
border-radius: 1000px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 4252666 */

position: absolute;
width: 2px;
height: 8px;
right: 315px;
bottom: 0px;

background: rgba(82, 227, 100, 0.2);
filter: blur(0px);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326421 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 52px;

margin: 0 auto;
width: 293px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 197px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* placeholder-filename.mp4 */

width: 197px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 27.04.2025, 9:41 */

width: 118px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326420 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 44px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

display: none;
width: 24px;
height: 44px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

display: none;
width: 40px;
height: 40px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Queue/Story Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 12px;
gap: 4px;
isolation: isolate;

width: 318px;
height: 60px;

background: #FFFFFF;
border: 0.5px solid rgba(16, 18, 21, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Rectangle 4252665 */

position: absolute;
width: 2px;
height: 2px;
right: 315px;
bottom: 0px;

background: #1FC133;
border-radius: 1000px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 4252666 */

position: absolute;
width: 2px;
height: 8px;
right: 315px;
bottom: 0px;

background: rgba(82, 227, 100, 0.2);
filter: blur(0px);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326421 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 52px;

margin: 0 auto;
width: 293px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 197px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* placeholder-filename.mp4 */

width: 197px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 27.04.2025, 9:41 */

width: 118px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326420 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 44px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

display: none;
width: 24px;
height: 44px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

display: none;
width: 40px;
height: 40px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Queue/Story Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 12px;
gap: 4px;
isolation: isolate;

width: 318px;
height: 60px;

background: #FFFFFF;
border: 0.5px solid rgba(16, 18, 21, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Rectangle 4252665 */

position: absolute;
width: 2px;
height: 2px;
right: 315px;
bottom: 0px;

background: #1FC133;
border-radius: 1000px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 4252666 */

position: absolute;
width: 2px;
height: 8px;
right: 315px;
bottom: 0px;

background: rgba(82, 227, 100, 0.2);
filter: blur(0px);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326421 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 52px;

margin: 0 auto;
width: 293px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 197px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* placeholder-filename.mp4 */

width: 197px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 27.04.2025, 9:41 */

width: 118px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326420 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 44px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

display: none;
width: 24px;
height: 44px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

display: none;
width: 40px;
height: 40px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Queue/Story Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 12px;
gap: 4px;
isolation: isolate;

width: 317px;
height: 60px;

background: #FFFFFF;
border: 0.5px solid rgba(16, 18, 21, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Rectangle 4252665 */

position: absolute;
width: 2px;
height: 2px;
right: 315px;
bottom: 0px;

background: #1FC133;
border-radius: 1000px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 4252666 */

position: absolute;
width: 2px;
height: 8px;
right: 315px;
bottom: 0px;

background: rgba(82, 227, 100, 0.2);
filter: blur(0px);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326421 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 52px;

margin: 0 auto;
width: 293px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 197px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* placeholder-filename.mp4 */

width: 197px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 27.04.2025, 9:41 */

width: 118px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326420 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 44px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

display: none;
width: 24px;
height: 44px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconButton */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

display: none;
width: 40px;
height: 40px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
