/* Frame 2087326343 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 560px;
min-width: 560px;
height: 750px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326426 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 560px;
height: 750px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326423 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 560px;
height: 680px;

/* Island_Shadow */
filter: drop-shadow(0px 2px 12px rgba(16, 18, 21, 0.08));

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326380 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 16px;

width: 560px;
height: 680px;

background: #F6F6F7;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2087326359 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

display: none;
width: 528px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Текст транскрипции: */

width: 193px;
height: 24px;

/* Heading/H2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2087326362 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px 8px;
gap: 8px;

width: 528px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* meeting-recording.mp4 */

margin: 0 auto;
width: 210px;
height: 24px;

/* Heading/H2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 64% */

margin: 0 auto;
width: 40px;
height: 24px;

/* Heading/H2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326360 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 24px 16px;
gap: 12px;

width: 528px;
height: 556px;

background: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.04);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326419 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 496px;
height: 86px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* QueueCard_Animation */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 2px;

width: 356px;
height: 86px;

background: rgba(153, 152, 246, 0.12);
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px 20px 20px 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Спикер 1 */

width: 55px;
height: 20px;

/* Label/Label-2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.16px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Итак, первый вопрос: как вы видите будущее нашей компании, "Светлые дали"? */

width: 332px;
height: 48px;

/* Body/Body-1/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.24px;

color: #101215;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326420 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 10px;

width: 496px;
height: 110px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* QueueCard_Animation */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 2px;

width: 326px;
height: 110px;

background: rgba(153, 152, 246, 0.12);
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px 20px 4px 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Интервьюер */

width: 80px;
height: 20px;

/* Label/Label-2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.16px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Что вы думаете о последних изменениях в налоговом кодексе, господин Петров? */

width: 302px;
height: 72px;

/* Body/Body-1/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.24px;

color: #101215;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326421 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 496px;
height: 110px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* QueueCard_Animation */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 2px;

width: 380px;
height: 110px;

background: rgba(153, 152, 246, 0.12);
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px 20px 20px 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Спикер 1 */

width: 55px;
height: 20px;

/* Label/Label-2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.16px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Расскажите, пожалуйста, о вашем опыте работы с большими данными и машинным обучением. */

width: 356px;
height: 72px;

/* Body/Body-1/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.24px;

color: #101215;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326422 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 496px;
height: 202px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* QueueCard_Animation */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 2px;

width: 363px;
height: 110px;

background: rgba(153, 152, 246, 0.12);
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px 20px 4px 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Интервьюер */

width: 80px;
height: 20px;

/* Label/Label-2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.16px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Как вы считаете, какие навыки наиболее важны для успешного руководителя в 21 веке? */

width: 339px;
height: 72px;

/* Body/Body-1/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.24px;

color: #101215;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* QueueCard_Animation */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 2px;

width: 395px;
height: 88px;

background: rgba(153, 152, 246, 0.12);
border: 0.5px solid rgba(0, 0, 0, 0.08);
border-radius: 20px 4px 4px 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Какие стратегии вы используете для поддержания баланса между работой и личной жизнью? */

width: 371px;
height: 72px;

/* Body/Body-1/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.24px;

color: #101215;

border: 1px solid rgba(0, 0, 0, 0.04);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326382 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 528px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 8px;

margin: 0 auto;
width: 99px;
height: 36px;

background: rgba(255, 204, 199, 0.5);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icons/ History */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 75px;
height: 20px;

/* Label/Label-2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.16px;

color: #CF1322;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icons/ Pause */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 8px;

margin: 0 auto;
width: 121px;
height: 36px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(16, 18, 21, 0.16) 100%), #1F1F1F;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icons/ History */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 97px;
height: 20px;

/* Label/Label-2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.16px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icons/ Pause */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 2087326387 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 560px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326382 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 8px;

margin: 0 auto;
width: 560px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 20px;
gap: 12px;

margin: 0 auto;
width: 186px;
height: 56px;

background: rgba(44, 44, 67, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icons/ Clipboard */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 146px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icons/ Arrow Right */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 2087326418 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

margin: 0 auto;
width: 174px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 20px;
gap: 12px;

width: 64px;
height: 56px;

background: rgba(44, 44, 67, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icons/ History */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

display: none;
width: 62px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icons/ Arrow Left */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 25%;
bottom: 25%;

border: 2px solid #101215;


/* 3/7 */

width: 30px;
height: 24px;

/* Heading/H2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 20px;
gap: 12px;

width: 64px;
height: 56px;

background: rgba(44, 44, 67, 0.04);
opacity: 0.6;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icons/ Clipboard */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

display: none;
width: 79px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icons/ Arrow Right */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
