/* desktop */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
isolation: isolate;

position: relative;
width: 1512px;
height: 1026px;
overflow-y: scroll;

background: #fefefe;

/* Header */

width: 1512px;
height: 84px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;

/* sborkaLogo */

position: absolute;
width: 160px;
height: 28px;
left: 24px;
top: calc(50% - 28px / 2);

/* Vector */

position: absolute;
height: 27.9px;
left: 0px;
right: 0.61px;
top: calc(50% - 27.9px / 2 - 0px);

background: #000000;

/* Frame 2087326440 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 135px;
height: 56px;
right: 24px;
top: 18px;

/* User */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px;
gap: 10px;

width: 40px;
height: 40px;

border: 2px solid #101215;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 2087326442 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;
gap: 10px;

width: 32px;
height: 32px;

background: rgba(153, 152, 246, 0.08);
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Icons/ User */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 8.33%;
bottom: 58.33%;

background: #101215;

/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 54.17%;
bottom: 12.5%;

background: #101215;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 20px;
gap: 12px;

width: 87px;
height: 56px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Icons/ Logout */

display: none;
width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

width: 47px;
height: 24px;

/* Label/Label-1/Medium */
font-family: "Inter Tight";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #101215;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Icons/ Plug */

display: none;
width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Frame 2087326343 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 560px;
height: 642px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

/* Frame 2087326381 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 560px;
height: 118px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Frame 2087326383 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 560px;
height: 118px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Сервисы / Транскрибатор */

width: 168px;
height: 20px;

font-family: "Inter Tight";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: rgba(16, 18, 21, 0.55);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 2087326437 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 560px;
height: 94px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Транскрибатор */

width: 225px;
height: 38px;

/* Heading/H1/Medium */
font-family: "Inter Tight";
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
/* identical to box height, or 119% */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Инструмент обрабатывает аудио и видео файлы для извлечения транскрипции речи с возможностью распознавания говорящих. */

width: 560px;
height: 48px;

/* Body/Body-1/Regular */
font-family: "Inter Tight";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.24px;

color: #101215;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* File Field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 560px;
height: 500px;

background: #f6f6f7;
border: 0.5px solid rgba(4, 2, 10, 0.06);
/* Island_Shadow */
box-shadow: 0px 2px 12px rgba(16, 18, 21, 0.08);
border-radius: 36px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px;
gap: 8px;

width: 560px;
height: 500px;

border-radius: 36px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 2087326353 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

width: 528px;
height: 468px;

background: #ffffff;
border: 4px dashed #eeeef0;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

/* Icons/ Cloud Upload */

width: 36px;
height: 36px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 25%;

background: #101215;

/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 58.33%;
bottom: 8.33%;

background: #101215;

/* Frame 2087326357 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 528px;
height: 52px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Перетащите или загрузите файлы */

width: 528px;
height: 24px;

/* Heading/H2/Semi Bold */
font-family: "Inter Tight";
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;

color: #101215;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Формат MP3 или MP4, не более 4 ГБ */

width: 528px;
height: 24px;

/* Body/Body-1/Regular */
font-family: "Inter Tight";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.24px;

color: rgba(16, 18, 21, 0.55);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 8px;

width: 116px;
height: 28px;

background: rgba(153, 152, 246, 0.5);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Icons/ Plug */

display: none;
width: 16px;
height: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

width: 100px;
height: 20px;

/* Label/Label-2/Medium */
font-family: "Inter Tight";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.16px;

color: #101215;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Icons/ Plug */

display: none;
width: 16px;
height: 16px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Menu */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 181px;
height: 96px;
left: 12px;
top: 84px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;

/* Slot */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 181px;
height: 96px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 12px;

width: 128px;
height: 48px;

background: #ffffff;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Icons/ Home */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #101215;

/* Button */

width: 60px;
height: 24px;

/* Label/Label-1/Medium */
font-family: "Inter Tight";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Icons/ Plug */

display: none;
width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 12px;

width: 181px;
height: 48px;

background: #ffffff;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Icons/ Soundwave */

width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 13.54%;
right: 13.54%;
top: 13.54%;
bottom: 13.54%;

background: #101215;

/* Button */

width: 113px;
height: 24px;

/* Label/Label-1/Medium */
font-family: "Inter Tight";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Icons/ Plug */

display: none;
width: 24px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Frame 2087326416 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 8px 8px;
gap: 12px;

position: absolute;
width: 334px;
height: 562px;
right: 12px;
top: 84px;

background: #f6f6f7;
border: 0.5px solid rgba(4, 2, 10, 0.04);
/* Island_Shadow */
box-shadow: 0px 2px 12px rgba(16, 18, 21, 0.08);
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;

/* Frame 2087326416 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 318px;
height: 24px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* История */

width: 78px;
height: 24px;

/* Heading/H2/Medium */
font-family: "Inter Tight";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 2087326414 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 318px;
height: 502px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* StoryCard */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 4px;

width: 318px;
height: 124px;

background: #ffffff;
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 2087326399 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 294px;
height: 44px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 294px;
height: 42px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

/* placeholder-filename.mp4 */

width: 294px;
height: 24px;

/* Label/Label-1/Medium */
font-family: "Inter Tight";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* 27.04.2025, 9:41 */

width: 84px;
height: 16px;

/* Body/Body-3/Regular */
font-family: "Inter Tight";
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 2087326413 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 294px;
height: 60px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Внезапно, предприниматели в сети интернет и по сей день остаются уделом либералов, которые неумолимо жаждут жесточайшего секса */

width: 294px;
height: 60px;

/* Body/Body-2/Regular */
font-family: "Inter Tight";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #101215;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* StoryCard */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 4px;

width: 318px;
height: 124px;

background: #ffffff;
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 2087326399 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 294px;
height: 44px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 294px;
height: 42px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

/* placeholder-filename.mp4 */

width: 294px;
height: 24px;

/* Label/Label-1/Medium */
font-family: "Inter Tight";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* 27.04.2025, 9:41 */

width: 84px;
height: 16px;

/* Body/Body-3/Regular */
font-family: "Inter Tight";
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 2087326413 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 294px;
height: 60px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Внезапно, предприниматели в сети интернет и по сей день остаются уделом либералов, которые неумолимо жаждут жесточайшего секса */

width: 294px;
height: 60px;

/* Body/Body-2/Regular */
font-family: "Inter Tight";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #101215;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* StoryCard */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 4px;

width: 318px;
height: 124px;

background: #ffffff;
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Frame 2087326399 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 294px;
height: 44px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 294px;
height: 42px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

/* placeholder-filename.mp4 */

width: 294px;
height: 24px;

/* Label/Label-1/Medium */
font-family: "Inter Tight";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* 27.04.2025, 9:41 */

width: 84px;
height: 16px;

/* Body/Body-3/Regular */
font-family: "Inter Tight";
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 2087326413 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 294px;
height: 60px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Внезапно, предприниматели в сети интернет и по сей день остаются уделом либералов, которые неумолимо жаждут жесточайшего секса */

width: 294px;
height: 60px;

/* Body/Body-2/Regular */
font-family: "Inter Tight";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #101215;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* StoryCard */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 4px;

width: 318px;
height: 124px;

background: #ffffff;
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Frame 2087326399 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 294px;
height: 44px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 294px;
height: 42px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

/* placeholder-filename.mp4 */

width: 294px;
height: 24px;

/* Label/Label-1/Medium */
font-family: "Inter Tight";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* 27.04.2025, 9:41 */

width: 84px;
height: 16px;

/* Body/Body-3/Regular */
font-family: "Inter Tight";
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 2087326413 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 294px;
height: 60px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Внезапно, предприниматели в сети интернет и по сей день остаются уделом либералов, которые неумолимо жаждут жесточайшего секса */

width: 294px;
height: 60px;

/* Body/Body-2/Regular */
font-family: "Inter Tight";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #101215;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
