/* Frame 2087326415 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 8px 8px;
gap: 12px;

position: absolute;
width: 334px;
height: 562px;
right: 12px;
top: 84px;

background: #F6F6F7;
border: 0.5px solid rgba(4, 2, 10, 0.04);
/* Island_Shadow */
box-shadow: 0px 2px 12px rgba(16, 18, 21, 0.08);
border-radius: 28px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326416 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 318px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* История */

width: 78px;
height: 24px;

/* Heading/H2/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2087326414 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 318px;
height: 502px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* StoryCard */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 4px;

width: 318px;
height: 124px;

background: #FFFFFF;
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2087326399 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 294px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 294px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* placeholder-filename.mp4 */

width: 294px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 27.04.2025, 9:41 */

width: 84px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326413 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 294px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Внезапно, предприниматели в сети интернет и по сей день остаются уделом либералов, которые неумолимо жаждут жесточайшего секса */

width: 294px;
height: 60px;

/* Body/Body-2/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* StoryCard */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 4px;

width: 318px;
height: 124px;

background: #FFFFFF;
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326399 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 294px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 294px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* placeholder-filename.mp4 */

width: 294px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 27.04.2025, 9:41 */

width: 84px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326413 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 294px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Внезапно, предприниматели в сети интернет и по сей день остаются уделом либералов, которые неумолимо жаждут жесточайшего секса */

width: 294px;
height: 60px;

/* Body/Body-2/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* StoryCard */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 4px;

width: 318px;
height: 124px;

background: #FFFFFF;
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 2087326399 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 294px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 294px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* placeholder-filename.mp4 */

width: 294px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 27.04.2025, 9:41 */

width: 84px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326413 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 294px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Внезапно, предприниматели в сети интернет и по сей день остаются уделом либералов, которые неумолимо жаждут жесточайшего секса */

width: 294px;
height: 60px;

/* Body/Body-2/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* StoryCard */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 12px;
gap: 4px;

width: 318px;
height: 124px;

background: #FFFFFF;
border: 0.5px solid rgba(0, 0, 0, 0.04);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 2087326399 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 294px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326411 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 294px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* placeholder-filename.mp4 */

width: 294px;
height: 24px;

/* Label/Label-1/Medium */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 27.04.2025, 9:41 */

width: 84px;
height: 16px;

/* Body/Body-3/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;

color: rgba(16, 18, 21, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326413 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 294px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Внезапно, предприниматели в сети интернет и по сей день остаются уделом либералов, которые неумолимо жаждут жесточайшего секса */

width: 294px;
height: 60px;

/* Body/Body-2/Regular */
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #101215;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
